@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
* {
    background-color: #282828;
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, span {
    color: #ebebeb;
    text-align: center;
    line-height: 1.25;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

li {
    list-style: none;
}

/* Navigation Bar */
nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link--list {
    display: flex;
}

.nav__link--anchor {
    margin: 0 12px;
    color: #ebebeb;
    text-decoration: none;
    font-weight: bold;
}

.nav__link--anchor-primary {
    background-color: #6030b1;
    padding: 8px 20px;
    bottom: 50px;
    color: #fff;
    transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
    background-color: #5d3eff;
}

.personal__logo {
    font-size: 24px;
    color: #6030b1;
    margin: 0 12px;
    font: bold;
}